.title{
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: center;
}
.inner-button{
   width: 200px;
   height:120px;
   margin-left: 10px;
   margin-right: 10px;

}


html{
    background-color: rgb(140, 140, 239);
}
.score{
    border: solid black 3px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}